.container {
  background-color: #f0f0f0;
  height: 100vh;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: red;
  height: 150px;
  border: 1px solid black;
  margin: 10px;
}
.box1 {
  background-color: green;
  align-self: flex-end;
  flex-grow: 1;
}
.box2 {
  background-color: green;
  align-self: flex-start;
  flex-grow: 1;
}
.box3 {
  background-color: green;
  align-self: flex-end;
  flex-grow: 1;
}
.box4 {
  background-color: green;
  align-self: flex-start;
  flex-grow: 1;
}
